.relative {
    /* position: relative; */
    width: 200px;
    height: 200px;
    background-color: yellow;
    top: 50px;
    left: 50px;
}

.container {
    /* position: relative; */
    width: 500px;
    height: 300px;
    background-color: lightblue;
}

.absolute {
    position: absolute;
    width: 60px;
    height: 40px;
    background-color: green;
    /* top: 50px;
    left: 50px; */
}

.fixed {
    /* position: fixed; */
    height: 150px;
    width: 150px;
    background-color: orange;
    top: 10px;
    left: 10px;
}

span {
    position: absolute;
}