@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    text-align: center;
    padding: 20px;
}

input {
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px;
    cursor: pointer;
}

.grid {
    display: grid;
    gap: 20px;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
}

.card img {
    width: 100%;
    border-radius: 8px;
}